# dependencies
node_modules/


# env
.env
.env.*
!.env.example
.mise.*

# misc
.DS_Store
*.log
*.tsbuildinfo
dist/
packages/*/dist/

# local references
llms-furl/
opensrc/
.vercel
.env*.local

.turbo

# test
.sandbox-local
